## UN Data Exploration

In [2]:
2 + 2

4

In [3]:
x = 3

In [4]:
x

3

In [9]:
import pandas as pd

In [11]:
pd.read_csv("../data/continents.csv")

    Continent             Country
0        Asia         Afghanistan
1      Europe             Albania
2      Africa             Algeria
3      Europe             Andorra
4      Africa              Angola
..        ...                 ...
211      Asia             Vietnam
212      Asia  West Bank and Gaza
213      Asia               Yemen
214    Africa              Zambia
215    Africa            Zimbabwe

[216 rows x 2 columns]